*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}
body{
    display: flex;
    justify-content:center;
    align-items: center;
    min-height: 100vh;
    
}
:root{
    --theme-color:rgb(114, 174, 234);
}

.card {
    flex-basis: 300px;
    text-align: center;
    border-radius: 10px;
    overflow: hidden;
    box-shadow:0 4px 5px #333;
    header {
        padding: 1rem;
        font-size: 2rem;
        color: white;
        background-color:var(--theme-color) ;
    }
    .btn-container {
        margin: 1rem 0;
        display: flex;
        gap: 1rem;
        justify-content: center;
        button {
            border: 0;
            padding: 0.3rem 0.8rem;
            border-radius: 0.5rem;
            color: #fff;
            background-color: var(--theme-color
            );

        }
    }
    .theme-container {
        display: flex;
        gap: 1rem;
        justify-content: center;
        margin:1.5rem 0;
        
        .btn {
            width: 15px;
            height: 15px;
            background-color: red;
            border-radius: 50%;
            align-content: center;
            cursor: pointer;
            
        }
        .btn-1 {
            background-color: rgb(92, 222, 222);

        }
        .btn-2 {
            background-color: rgb(183, 128, 234);
            
        }
        .btn-3 {
            background-color: rgb(141, 137, 137);
            
        }
        .btn-4 {
            background-color: rgb(153, 225, 81);

        }
    }
}
